<footer class="footer_area bg_cover" style="background-image: url(assets/images/footer_bg.jpg)">
    <div class="footer_widget pt-80 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer_about mt-30">
                        <a href="#"><img src="../assets/images/ted2.png" alt="logo"></a>
                        
                        <p></p>
                        
                        <ul class="footer_social" style="margin-left: 16%;">
                            <li><a href="https://www.facebook.com/ispted" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/ispted" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/ted_university_/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UC6_4zWYrDtp4WrncPEc_JUA" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="footer_widget_wrapper d-flex flex-wrap">
                        <div class="footer_link mt-50">
                            <h5 class="footer_title">Accès Rapide</h5>

                            <div class="footer_link_wrapper d-flex">
                                <ul class="link">
                                    <li><a [routerLink]="'/'">Acceuil</a></li>
                                    <li><a [routerLink]="'/preinscription'">Préinscription</a></li>

                                </ul>
                                <ul class="link">
                                    <li><a [routerLink]="'/contact'">Contact </a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="footer_contact mt-50">
                            <h5 class="footer_title">Contact</h5>
                            
                            <ul class="contact">
                                <li>L’institut Supérieur Privé des Technologies de la Digitalisation (Ted University)</li>
                                <li>Adresse : 08, Rue des Minéraux, La Charguia I 2035 Tunis</li>
                                <li>Email : contact@ted-university.com</li>
                                <li>Téléphone : +216 27 294 294</li>
                                <li>Fax : +216 32 404 377  </li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer_copyright">
        <div class="container">
            <div class="footer_copyright_wrapper text-center d-md-flex justify-content-between">
                <div class="copyright">
                    <p></p>
                </div>
                <div class="copyright">
                    <p>&copy; Copyrights 2022 Ted University All rights reserved. </p>
                </div>
            </div>
        </div>
    </div>
</footer>