<section class="page_banner bg_cover" style="background-image: url(../../assets/images/about_bg.jpg);background-position: center -75px !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner_content text-center">
                    <h4 class="title">Nos Références</h4>
                    <ul class="breadcrumb justify-content-center">
                        <li><a href="#"></a></li>
                        <li><a class="active" href="#"> </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="brands">

    <div class="container">
        <h3 class="about_title" style="    margin-left: -1.5%;">Nos accréditations internationales </h3>
        <small>&nbsp;</small>
        <div class="row">
            <div class="col">
                <p style="    margin-left: -1.5%;                ">Dans une démarche de progression perpétuelle, l’objectif est de valider les acquis obtenus tout au long du parcours  à travers les certifications. La certification constitue notre gage de confiance, elle permet en effet une immersion professionnelle.</p>
                <div class="brands_slider_container">
                    <div class="owl-carousel owl-theme brands_slider">
                    
                     
                        <div class="owl-item" >
                            <div class="brands_item d-flex flex-column justify-content-center " ><img src="../../assets/images/techpartners/cisco.png" alt="Cisco" style="width: 118px;margin-top: 14%;" ></div>
                        </div>

               
                        <div class="owl-item" >
                            <div class="brands_item d-flex flex-column justify-content-center " ><img src="../../assets/images/techpartners/pearsonvue.png" alt="pearsonvue" style="width: 122px; margin-top: 5%;" ></div>
                        </div>
                        <div class="owl-item" >
                            <div class="brands_item d-flex flex-column justify-content-center " ><img src="../../assets/images/techpartners/ccc.png" alt="ccc" style="width: 166px; margin-top: 5%;" ></div>
                        </div>
                        <div class="owl-item" >
                            <div class="brands_item d-flex flex-column justify-content-center " ><img src="../../assets/images/techpartners/python.png" alt="ccc" style="width: 166px; margin-top: 15%;" ></div>
                        </div>
                        <div class="owl-item" >
                            <div class="brands_item d-flex flex-column justify-content-center " ><img src="../../assets/images/techpartners/oracleacademy.png" alt="oracle academy" style="width: 166px; margin-top: 6%;" ></div>
                        </div>               
               
                        <div class="owl-item" >
                            <div class="brands_item d-flex flex-column justify-content-center " ><img src="../../assets/images/techpartners/awsac.png" alt="AWS academy" style="width: 166px; margin-top: 15%;" ></div>
                        </div>
                    </div> 
                    <div class="brands_nav brands_prev"><i class="fa fa-chevron-left"></i></div>
                    <div class="brands_nav brands_next"><i class="fa fa-chevron-right"></i></div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="brands">
    <div class="container">
        <h3 class="about_title" style=" margin-left: -15.5px;margin-bottom: 2%;">Nos partenaires entreprises </h3>

        <div class="row">
            <p>L’accès direct au monde de l’entreprise constitue l’enjeu majeur sur lequel mise Ted University .
                Le learning by doing est la trajectoire choisie par notre institution pour garantir à nos étudiants employabilité, reconnaissance et assurance.
                </p>
            <div class="col">
             

                <div class="brands_slider_container1">
                    <div class="owl-carousel owl-theme brands_slider1">
                        <div class="owl-item" >
                            <div class="brands_item1 d-flex flex-column justify-content-center " ><img src="../../assets/images/partners/na.png" alt="Network associates" style="width: 112px;     margin-top: -7%;" ></div>
                        </div>
                        <div class="owl-item" >
                            <div class="brands_item1 d-flex flex-column justify-content-center " ><img src="../../assets/images/partners/ns.png" alt="Next Step" style="    width: 94px;margin-top: 12%;" ></div>
                        </div>
                        <div class="owl-item" >
                            <div class="brands_item1 d-flex flex-column justify-content-center " ><img src="../../assets/images/partners/onetech.jpg" alt="One Tech" style="width: 133px; margin-top: 5%;" ></div>
                        </div>
                        <div class="owl-item" >
                            <div class="brands_item1 d-flex flex-column justify-content-center " ><img src="../../assets/images/partners/prologic.png" alt="Prologic" style="width: 133px;" ></div>
                        </div>
                        <div class="owl-item" >
                            <div class="brands_item1 d-flex flex-column justify-content-center " ><img src="../../assets/images/partners/act.jpg" alt="ACT" style="    width: 90px;margin-top: 31%;" ></div>
                        </div>
                        <div class="owl-item" >
                            <div class="brands_item1 d-flex flex-column justify-content-center " ><img src="../../assets/images/partners/keystone.png" alt="Keystone" style="width: 150px;     margin-top: -7%;" ></div>
                        </div>
                        <div class="owl-item" >
                            <div class="brands_item1 d-flex flex-column justify-content-center " ><img src="../../assets/images/partners/infolog.png" alt="Infolog" style="width: 158px;margin-top: 21%;" ></div>
                        </div>
                        <div class="owl-item" >
                            <div class="brands_item1 d-flex flex-column justify-content-center " ><img src="../../assets/images/partners/tanitweb.png" alt="Tanit web" style="width: 150px;         margin-top: 27%;" ></div>
                        </div>
                        <div class="owl-item" >
                            <div class="brands_item1 d-flex flex-column justify-content-center " ><img src="../../assets/images/partners/oxabox.png" alt="Oxabox" style="width: 150px;         margin-top: 27%;" ></div>
                        </div>
                        <div class="owl-item" >
                            <div class="brands_item1 d-flex flex-column justify-content-center " ><img src="../../assets/images/partners/bi.jpg" alt="BI" style="width: 88px;     margin-top: 10%;" ></div>
                        </div>
                    </div> 
                    <div class="brands_nav brands_prev1" style=" left: 40px!important;"><i class="fa fa-chevron-left"></i></div>
                    <div class="brands_nav brands_next1" style=" right: 40px!important;"><i class="fa fa-chevron-right"></i></div>
            </div>
            </div>
            <p>Clevory déploie aujourd’hui un département dédié pour les stages: c’est une unité interactive interne qui accompagne les étudiants dans leur mise en pratique des compétences à travers les stages proposés par nos partenaires.
                Les stages s’effectuent d’une manière régulière dans une optique de pédagogie active garantissant l’employabilité  de nos étudiants.
                </p>
            <h4>&nbsp;</h4>
        </div>
    </div>

</div>
