<section class="page_banner bg_cover" style="background-image: url(../../../assets/images/about_bg.jpg);background-position: center -75px !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner_content text-center">
                    <h4 class="title">A propos de nous</h4>
                    <ul class="breadcrumb justify-content-center">
                        <li><a href="#"></a></li>
                        <li><a class="active" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about_area pt-80">
   
    <img class="shap_1" src="../../assets/images/shape/shape-1.png" alt="shape">
    <img class="shap_2" src="../../assets/images/shape/shape-2.png" alt="shape">
    <img class="shap_3" src="../../assets/images/shape/shape-3.png" alt="shape">
    <img class="shap_4" src="../../assets/images/shape/shape-4.png" alt="shape">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about_content mt-45">
                    <h3 class="about_title">A propos de nous</h3>
                    <p class="text" style="text-align: justify;">
                       <strong>L’institut Supérieur Privé des Technologies et de Digitalisation Ted University</strong> , vient de voir le
jour pour vous futurs geeks ! <br/><br/>

Notre université privée spécialisée en IT est le fruit de notre conscience accrue des attentes du marché :
faire face à la pénurie des informaticiens qualifiés en préparant nos apprenants à la vie professionnelle
au fur et à mesure de leur cursus universitaire. <br/><br/>
<strong>
Passionnés d’informatique ? Vivez de votre passion et inscrivez-vous à Ted University !
</strong>
<br/><br/>
Notre but ultime est de transformer nos apprentis IT en professionnels opérationnels dont
connaissances solides attirent les recruteurs les plus rigides.
<br/><br/>

                    </p>

                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_image mt-50">
                    <img src="../../../assets/images/about-1.jpg" alt="about" class="about_image-1">
                    <img src="../../../assets/images/about-2.jpg" alt="about" class="about_image-2">
                    <img src="../../../assets/images/about-3.jpg" alt="about" class="about_image-3">
                </div>
            </div>
        </div>
        
        <section class="about_area pt-80">
   
         
            <div class="container">
                <div class="row">
           
                    <div class="col-lg-6">
                        <div class="about_content mt-45">
                            <h3 class="about_title">commençons  par le meilleur</h3>
                            <p class="text" style="text-align: justify;">
                             
        
        A la fin de votre parcours universitaire dense et diversifié, vous aurez en poche les incontestables
        <strong>certifications de nos éditeurs </strong> qui sont les mieux classés selon <strong>Gartner</strong> (une entreprise américaine de
        conseil et de recherche dans le domaine des techniques avancées qui mène des études comparatives
        sur des sociétés aux liens compétitifs) <br/><br/>
        A ces certifications de renommée s’ajoute le prestigieux diplôme agrée par <strong> le ministère de
l’Enseignement Supérieur et de la Recherche Scientifique. </strong>
<br/> <br/>
    
Ainsi les multinationales en quête de profiles IT calés, s’arracheront nos apprenants surqualifiés (à la
fois certifiés et diplômés) en leur proposant une fourchette salariale aussi respectable que négociable
        
                            </p>
        
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
        
                        </div>
                    </div>
                            
                    <div class="col-lg-6">
                        <div class="image">
                            <img src="assets/images/choose_bg.png" alt="">
                        </div>
                    </div>
                </div>


        <div class="row">
            <h2 class="main_title text" style="text-align: center;margin-bottom: 4%;    margin-left: 35%;color: #545454;"> Ted University</h2>
            <p class="text" style="text-align: justify;">             
Intégrez <strong>l’institut Supérieur Privé des Technologies et de Digitalisation Ted

University </strong> pour mieux vous intégrer dans la sphère digitale !
L’apprentissage expérientiel « <strong>learning by doing </strong>» est la pédagogie suivie par notre institut : Cette
<strong> pédagogie active </strong>permet à nos apprenants d’être les acteurs de leur propre assimilation en s’inspirant
de contextes réels.
<br/><br/>
Ainsi, en développant ses compétences pratiques, l’étudiant de <strong> Ted University </strong> est adepte de la
mémorisation durable et la concrétisation de ses connaissances.
L’alternance entre la théorie fondamentale et l’expérience pratique est notre devise !
<br/><br/>

Afin de suivre le perpétuel développement digital, nous avons soumis notre parcours universitaire aux
commandements des standards internationaux en adoptant <strong> « le constructivisme » </strong>
<br/><br/>
Cette méthode applaudit l’apprentissage via des activités pratiques (les labs), des jeux et des échanges
en groupe (simulations), aux dépends de la pédagogie magistrale basée sur un livre ou une
présentation.<br/> <br/>
Le profil de nos futurs employés mêle l’expérience à la connaissance. Il sera ainsi ajusté aux offres
d’emploi de nos intégrateurs, ce qui facilitera l'intégration de nos futurs employés au sein des entreprises
partenaires de  <strong>Ted University.</strong>
<strong>Soyez les auteurs de vos propres parcours et vous serez probablement les acteurs de l’essor
    digital aussi bien à l’échelle nationale qu’internationale !</strong>
<br/> <br/>
<strong>L’institut Supérieur Privé des Technologies et de Digitalisation Ted University </strong> ne cesse de
s’auto-former afin d’être pionnier des tendances technologiques et « le serviteur dévoué » des
demandes « du peuple TIC ».
            </p>
            <p class="text">
                <strong>Nos offres académiques sont si diversifiées qu’elles permettent de : </strong>
            </p>
            <ul style="list-style:disc;margin-left: 4%;" >
                <li>Consolider les bases informatiques de nos étudiants</li>
                <li>Renforcer les affinités de nos jeunes diplômés avec les spécialités technologiques
                    choisies.</li>
                <li>Perfectionner les compétences digitales des praticiens du domaine informatique (les
                    spécialistes en IT) <br/> <br/></li>

            </ul>
            <p class="text">L’infrastructure est l’une des priorités de <strong> l’institut Supérieur Privé des Technologies et de
                Digitalisation Ted University. </strong> <br/> </p>

            <p class="text">
                <strong>  Notre établissement peut dès lors se vanter de détenir : </strong>
            </p>
            <ul style="list-style:disc;margin-left: 4%;" >
                <li>Un corps enseignant professionnel.</li>
                <li>Des équipements propices aux expérimentations et aux présentations estudiantines.</li>
                <li>De collaborer avec nos entreprises partenaires aux promesses d’embauches rassurantes
                    et alléchantes.</li>

            </ul>

            <p><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            </p>
        </div>
    </div>
</section>
