<section class="page_banner bg_cover" style="background-image: url(../../assets/images/about_bg.jpg);background-position: center -75px !important; padding-bottom: 31px !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner_content text-center">
                    <h4 class="title">{{parcour.name}}</h4>
                    <ul class="breadcrumb justify-content-center">
                        <li><a href="#"></a></li>
                        <li><a class="active" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="" >
   

<div class="row" style="">
    <div class="col-lg-3" style="background-color: rgba(243, 212, 0,1);">
        <button class="main-btn buttonpre" style="position: absolute;left: 26%;top: 50%;color:white"   [routerLink]="'/preinscription'" [queryParams]="{parcour: id}">Pré-inscription</button>

    </div>
    <div class="col-lg-9" style="background-color: #545454;" >
        <div class="single_courses_details  ">
            <h4 class="courses_details_title objectif" style="color:#545454;" >Objectifs</h4>
            <div class="objectif" style="color: white!important;font-weight: 500;font-size: 18px;  text-align: justify;margin-right: 1%;" [innerHTML]="parcour.objectifs"></div>
            <small>&nbsp;</small>
        </div>
    </div>
</div>
</section>

<section class="page_banner bg_cover bannerpres prereq" style="    padding-top: 8px;background-image: url('../../assets/images/coursedetailspre.jpg');background-position: center -75px !important;">
    <div class="row">
        <div class="col-lg-3">
            <img src="../../assets/images/prereq.png" style="width: 153px;margin-left: 40%;margin-top: 5%;"/>

        </div>

        <div class="col-lg-9">
            <small>&nbsp;</small>
            <h4 class="courses_details_title objectif" style="color:#545454;">Prerequis</h4>
            <small>&nbsp;</small>
            <div  style="color: #545454;" [innerHTML]="parcour.prerequis"></div>

            <small>&nbsp;</small>
            <small>&nbsp;</small>
            <small>&nbsp;</small>

        </div>            
    </div>
</section>
<section class="content" >

<div class="row" >

    <div class="col-lg-12" style="background-color: #545454;" >
        <div class="single_courses_details  mt-40" style="    margin-left: 10%;">
            <h4 class="courses_details_title" style="color: white;">Perspectives académiques et professionnelles            </h4>
           <!-- <ul>
                <li *ngFor="let debouche of debouches" style="color: white;"><i class="fa fa-check"></i> {{debouche}}</li>
      
            </ul>
            -->
            <div class="debouche" style="color: white;font-weight: 200;font-size: 18px;  text-align: justify;margin-right: 1%;" [innerHTML]="debouches"></div>

            <small>&nbsp;</small>
            <small>&nbsp;</small>

        </div>
    </div>
</div>
</section>


<section class="content" >

    <div class="row" >
    
        <div class="col-lg-12" style="background-color: #545454;" >
            <div class="single_courses_details  mt-40" style="    margin-left: 10%;">
                <h4 class="courses_details_title" style="color: white;">Certifications </h4>
               <!-- <ul>
                    <li *ngFor="let debouche of debouches" style="color: white;"><i class="fa fa-check"></i> {{debouche}}</li>
          
                </ul>
                -->
                <div class="debouche" style="color: white;font-weight: 200;font-size: 18px;  text-align: justify;margin-right: 1%;" [innerHTML]="parcour.certifs"></div>
    
                <small>&nbsp;</small>
                <small>&nbsp;</small>
    
            </div>
        </div>
    </div>
    </section>
    

<!--
<section class="courses_details_area pt-80 pb-130">
    <div class="row" >
    
    <div class="container">
   

            <div class="col-lg-4 order-lg-last">
                <!---
                <div class="courses_details_sidebar">
                    <div class="courses_sidebar_image">
                        <img src="assets/images/courses-details.jpg" alt="courses details">
                        <div class="price">
                            <div class="price_wrapper">
                                <p>Price</p>
                                <span>$200</span>
                            </div>
                        </div>
                        <div class="courses_btn">
                            <a class="main-btn" href="#">Buy Now</a>
                        </div>
                    </div>
                    <div class="courses_sidebar_title">
                        <h4 class="title">Course Details</h4>
                    </div>
                    <div class="courses_sidebar_list">
                        <ul class="list">
                            <li><i class="fa fa-clock-o"></i> Duration <span>2 Weeks</span></li>
                            <li><i class="fa fa-files-o"></i> Lectures<span>23</span></li>
                            <li><i class="fa fa-puzzle-piece"></i> Quizzes<span>11</span></li>
                            <li><i class="fa fa-list"></i> Level<span>medium</span></li>
                            <li><i class="fa fa-users"></i> Students<span>19</span></li>
                            <li><i class="fa fa-globe"></i> Language<span>English</span></li>
                        </ul>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
               
            </div>
            <div class="col-lg-8 order-lg-first">
                <div class="courses_details_content">
                    
                    <div class="single_courses_details  mt-40">
                        <h4 class="courses_details_title">Objectifs</h4>
                        <p>{{parcour.objectifs}}</p>
                    </div>
                    <div class="single_courses_details  mt-40">
                        <h4 class="courses_details_title">Prérequis</h4>
                        <p>{{parcour.prerequis}}</p>
                    </div>
                    <div class="single_courses_details  mt-40">
                        <h4 class="courses_details_title">Débouchés</h4>
                        <ul>
                            <li *ngFor="let debouche of debouches"><i class="fa fa-check"></i> {{debouche}}</li>
                  
                        </ul>
                    </div>
                   
                      
                </div>
            </div>
        
        </div>
    </div>
</section>
    -->