@media only screen and (max-width: 600px) {
    .buttonpre{
        margin-bottom: 13%!important;

    }
    .bannerpres{
        margin-top: 0%;

    }
    .objectif{
        margin-right: 5%!important;
        margin-left: 4%!important;
    }
}




div.objectif, div.objectif>*>* {
    color:rosybrown  !important;
}
div.objectif>*>*>* {
    color:white  !important;
}


.debouche  *  *  *{
    color:white  !important;
}


