<!--====== Slider PART START ======-->
<section class="slider_area_4 bg_cover d-flex align-items-center mb-10">
    <div class="container">
        <div class="row justify-content-center justify-content-lg-between">
            <img src="assets/images/inscrit.png" alt="Inscription">
        </div>
        <div class="d-flex justify-content-center align-items-center pt-30">
            <button class="inscri-btn  mt-3">Inscription</button>
        </div>
        </div>
        
</section>

<div class="spacer">
    
</div>



<section class="why_choose_area pt-200 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-last">
                <div class="why_choose_content ">
                    <div class="section_title pb-20">
                        <h3 class="main_title">Préparez-vous aux métiers de demain</h3>
                        <p>Relevez les défis du marché de l'emploi en combinant un parcours académique et professionnel solide</p>
                    </div>
                    <div class="btn-container">
                        <button type="button" class="btn ">20%</button>
                        <button type="button" class="btn ">80%</button>
                    </div>
                    <div class="paragraphe">
                        <p class="text text-start">Parcours professionnel</p>
                        <p class="text">Parcours académique</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="why_choose_image d-none d-lg-table">
                    <div class="image">
                        <img src="assets/images/preparer.png" alt="" style="margin-bottom: 20px; margin-right:50px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
  
</section>

    <div class="brands pt-120 pb-80">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="col-lg-2 title text-highlited text-center" style="margin-top: 6%; margin-left: 50%;">Actualités </h3>
    
                
    
    
                        <div class="brands_slider_container">
                            <div class="owl-carousel owl-theme brands_slider">
            
                                <div class="owl-item" >
                                    <div class="brands_item d-flex flex-column justify-content-center " ><img src="../../assets/images/techpartners/cisco.png" alt="Cisco" style="width: 118px;margin-top: 14%;" ></div>
                                </div>
        
                       
                                <div class="owl-item" >
                                    <div class="brands_item d-flex flex-column justify-content-center " ><img src="../../assets/images/techpartners/pearsonvue.png" alt="pearsonvue" style="width: 122px; margin-top: 5%;" ></div>
                                </div>
                                <div class="owl-item" >
                                    <div class="brands_item d-flex flex-column justify-content-center " ><img src="../../assets/images/techpartners/ccc.png" alt="ccc" style="width: 166px; margin-top: 5%;" ></div>
                                </div>
                                <div class="owl-item" >
                                    <div class="brands_item d-flex flex-column justify-content-center " ><img src="../../assets/images/techpartners/python.png" alt="ccc" style="width: 166px; margin-top: 15%;" ></div>
                                </div>
                                <div class="owl-item" >
                                    <div class="brands_item d-flex flex-column justify-content-center " ><img src="../../assets/images/techpartners/oracleacademy.png" alt="oracle academy" style="width: 166px; margin-top: 6%;" ></div>
                                </div>               
                       
                                <div class="owl-item" >
                                    <div class="brands_item d-flex flex-column justify-content-center " ><img src="../../assets/images/techpartners/awsac.png" alt="AWS academy" style="width: 166px; margin-top: 15%;" ></div>
                                </div>
                            </div> 
                            <div class="brands_nav brands_prev"><i class="fa fa-chevron-left"></i></div>
                            <div class="brands_nav brands_next"><i class="fa fa-chevron-right"></i></div>
                        </div>
                </div>
            </div>
        </div>
    
    </div>
 

    <section class="why_choose_area pt-200 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 ">
                    <div class="why_choose_content">
                        <div class="section_title pb-20 margin-left:50%;" >
                            <h3 class=" text-highlited  ">Pourquoi nous choisir!</h3>
                            <p>Bonnes raisons pour faire partie de Ted University</p>
                        </div>
                        <div class="d-flex justify-content-between mt-20">
                            <div class="col-sm-9 circle-background mr-50">
                                <div class="single_choose mt-30">
                                    <div class="choose_icon">
                                        <img src="assets/images/unicité.png" alt="Icon">
                                    </div>
                                    <div class="choose_content">
                                        <h5 class="title"><a href="#">Unicité</a></h5>
                                        <p>Notre but ultime est de transformer 
                                            nos apprentis IT en professionnels 
                                            opérationnels dont les connaissances solides
                                            attirent les recruteurs les plus rigides .</p>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-sm-9 circle-background mr-50">
                                <div class="single_choose mt-30">
                                    <div class="choose_icon">
                                        <img src="assets/images/certif.png" alt="Icon">
                                    </div>
                                    <div class="choose_content">
                                        <h5 class="title"><a href="#">Certification</a></h5>
                                        <p>La crédibilité et l’authenticité de 
                                            TED University sont assurées par des
                                            partenariats internationaux et des parcours
                                            certifiants .</p>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-sm-11 circle-background mr-50">
                                <div class="single_choose mt-30">
                                    <div class="choose_icon">
                                        <img src="assets/images/internationale.png" alt="Icon">
                                    </div>
                                    <div class="choose_content">
                                        <h5 class="title"><a href="#">Ouverture à l’international</a></h5>
                                        <p>Ted University offre à ses étudiants un 
                                            accès direct au marché international 
                                            à travers des enseignements qui 
                                            s’alignent aux références internationales 
                                            en IT.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <section class="counter_area pt-80 pb-130">
        <div class="container">
            <div class="row counter_wrapper">
                
            
            <div class="brands">
                <div class="container">
                    <div class="row">
                        <div class="col ">
                            
                            <h3 class=" col-lg-6 about_title accr-title text-highlited " style="margin-top: 6%; margin-left: 30%;">Nos accréditations internationales </h3>

        
            
            
                                <div class="brands_slider_container">
                                    <div class="owl-carousel owl-theme brands_slider">
                    
                                        <div class="owl-item" >
                                            <div class="brands_item d-flex flex-column justify-content-center " ><img src="../../assets/images/techpartners/cisco.png" alt="Cisco" style="width: 118px;margin-top: 14%;" ></div>
                                        </div>
                
                               
                                        <div class="owl-item" >
                                            <div class="brands_item d-flex flex-column justify-content-center " ><img src="../../assets/images/techpartners/pearsonvue.png" alt="pearsonvue" style="width: 122px; margin-top: 5%;" ></div>
                                        </div>
                                        <div class="owl-item" >
                                            <div class="brands_item d-flex flex-column justify-content-center " ><img src="../../assets/images/techpartners/ccc.png" alt="ccc" style="width: 166px; margin-top: 5%;" ></div>
                                        </div>
                                        <div class="owl-item" >
                                            <div class="brands_item d-flex flex-column justify-content-center " ><img src="../../assets/images/techpartners/python.png" alt="ccc" style="width: 166px; margin-top: 15%;" ></div>
                                        </div>
                                        <div class="owl-item" >
                                            <div class="brands_item d-flex flex-column justify-content-center " ><img src="../../assets/images/techpartners/oracleacademy.png" alt="oracle academy" style="width: 166px; margin-top: 6%;" ></div>
                                        </div>               
                               
                                        <div class="owl-item" >
                                            <div class="brands_item d-flex flex-column justify-content-center " ><img src="../../assets/images/techpartners/awsac.png" alt="AWS academy" style="width: 166px; margin-top: 15%;" ></div>
                                        </div>
                                    </div> 
                                    <div class="brands_nav brands_prev"><i class="fa fa-chevron-left"></i></div>
                                    <div class="brands_nav brands_next"><i class="fa fa-chevron-right"></i></div>
                                </div>
                        </div>
                    </div>
                </div>
            
            </div>
                <div class="brands">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                             
                                <h3 class="col-lg-5 about_title text-highlited" style=" margin-left: 30%;">Nos  partenaires entreprises</h3>
                
                
                
                                <div class="brands_slider_container1">
                                        <div class="owl-carousel owl-theme brands_slider1">
                                            <div class="owl-item" >
                                                <div class="brands_item1 d-flex flex-column justify-content-center " ><img src="../../assets/images/partners/na.png" alt="Network associates" style="width: 112px;     margin-top: -7%;" ></div>
                                            </div>
                                            <div class="owl-item" >
                                                <div class="brands_item1 d-flex flex-column justify-content-center " ><img src="../../assets/images/partners/ns.png" alt="Next Step" style="    width: 94px;margin-top: 12%;" ></div>
                                            </div>
                                            <div class="owl-item" >
                                                <div class="brands_item1 d-flex flex-column justify-content-center " ><img src="../../assets/images/partners/onetech.jpg" alt="One Tech" style="width: 133px; margin-top: 5%;" ></div>
                                            </div>
                                            <div class="owl-item" >
                                                <div class="brands_item1 d-flex flex-column justify-content-center " ><img src="../../assets/images/partners/prologic.png" alt="Prologic" style="width: 133px;" ></div>
                                            </div>
                                            <div class="owl-item" >
                                                <div class="brands_item1 d-flex flex-column justify-content-center " ><img src="../../assets/images/partners/act.jpg" alt="ACT" style="    width: 90px;margin-top: 31%;" ></div>
                                            </div>
                                            <div class="owl-item" >
                                                <div class="brands_item1 d-flex flex-column justify-content-center " ><img src="../../assets/images/partners/keystone.png" alt="Keystone" style="width: 150px;     margin-top: -7%;" ></div>
                                            </div>
                                            <div class="owl-item" >
                                                <div class="brands_item1 d-flex flex-column justify-content-center " ><img src="../../assets/images/partners/infolog.png" alt="Infolog" style="width: 158px;margin-top: 21%;" ></div>
                                            </div>
                                            <div class="owl-item" >
                                                <div class="brands_item1 d-flex flex-column justify-content-center " ><img src="../../assets/images/partners/tanitweb.png" alt="Tanit web" style="width: 150px;         margin-top: 27%;" ></div>
                                            </div>
                                            <div class="owl-item" >
                                                <div class="brands_item1 d-flex flex-column justify-content-center " ><img src="../../assets/images/partners/oxabox.png" alt="Oxabox" style="width: 150px;         margin-top: 27%;" ></div>
                                            </div>
                                            <div class="owl-item" >
                                                <div class="brands_item1 d-flex flex-column justify-content-center " ><img src="../../assets/images/partners/bi.jpg" alt="BI" style="width: 88px;     margin-top: 10%;" ></div>
                                            </div>
                                        </div> 
                                        <div class="brands_nav brands_prev1" style=" left: 40px!important;"><i class="fa fa-chevron-left"></i></div>
                                        <div class="brands_nav brands_next1" style=" right: 40px!important;"><i class="fa fa-chevron-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>

         
            </div>
        </div>
    </section>

    <!--====== Counter PART ENDS ======-->

    <!--====== About 2 PART START ======-->
<!--
    <section class="about_area_2 d-flex flex-wrap ">
        <div class="about_video bg_cover" style="background-image: url(../../assets/images/about_bg.jpg)">
            <div class="video">
                <a class="video_play" href="#"><i class="fa fa-play"></i></a>
            </div>
        </div>
        
        <div class="about_content_2">
            <div class="single_about_2 d-flex flex-wrap about_color_1">
                <div class="about_2_content">
                    <div class="about_2_content_wrapper">
                        <h4 class="title"><a href="#">Scholarships</a></h4>
                        <p>What do you think is better to receive after each lesson: a lovely looking </p>
                        <a href="#" class="main-btn">Learn More</a>
                    </div>
                </div>
                <div class="about_2_image bg_cover" style="background-image: url(../../assets/images/about-4.jpg)"></div>
            </div>
            
            <div class="single_about_2 d-flex flex-wrap about_color_2">
                <div class="about_2_content order-md-last">
                    <div class="about_2_content_wrapper">
                        <h4 class="title"><a href="#">Alumnai</a></h4>
                        <p>What do you think is better to receive after each lesson: a lovely looking </p>
                        <a href="#" class="main-btn">Learn More</a>
                    </div>
                </div>
                <div class="about_2_image bg_cover order-md-first" style="background-image: url(../../assets/images/about-5.jpg)"></div>
            </div>
        </div>
    </section>



<section class="testimonial_area_3">
    <div class="testimonial_title_wrapper_2 bg_cover" style="background-image: url(../../assets/images/testimonial_bg.jpg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="testimonial_title text-center">
                        <img src="../../assets/images/quota.png" alt="quota">
                        <h2 class="title">What Students Say</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial_title_shape">
            <img src="../../assets/images/shape/shape-8.png" alt="shape">
        </div>
    </div>

    <div class="testimonial_content_wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="testimonial">
                        <div class="testimonial_content_active_3">
                            <div class="single_testimonial_3 text-center">
                                <p>I found myself working in a true partnership that results in an incredible experience, and an end product that is the best. </p>
                                <h5 class="author_name">Arnold Holder</h5>
                                <span>Student, Language</span>
                            </div>
                            <div class="single_testimonial_3 text-center">
                                <p>I found myself working in a true partnership that results in an incredible experience, and an end product that is the best. </p>
                                <h5 class="author_name">Nrnold Molder</h5>
                                <span>Student, Language</span>
                            </div>
                            <div class="single_testimonial_3 text-center">
                                <p>I found myself working in a true partnership that results in an incredible experience, and an end product that is the best. </p>
                                <h5 class="author_name">Hrnold Aolder</h5>
                                <span>Student, Language</span>
                            </div>
                            <div class="single_testimonial_3 text-center">
                                <p>I found myself working in a true partnership that results in an incredible experience, and an end product that is the best. </p>
                                <h5 class="author_name">Jrnold Iolder</h5>
                                <span>Student, Language</span>
                            </div>
                        </div>
                        <div class="testimonial_author_active_3">
                            <div class="single_author">
                                <img src="../../assets/images/author-4.jpg" alt="author">
                            </div>
                            <div class="single_author">
                                <img src="../../assets/images/author-5.jpg" alt="author">
                            </div>
                            <div class="single_author">
                                <img src="../../assets/images/author-6.jpg" alt="author">
                            </div>
                            <div class="single_author">
                                <img src="../../assets/images/author-5.jpg" alt="author">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="countdown_area_2 pt-80">
    <div class="countdown_wrapper_2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-9">
                    <div class="countdown_2 mt-50">
                        <div data-countdown="2020/03/26"></div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-8">
                    <div class="register_countdown_2 mt-50">
                        <div class="register_countdown_content">
                            <h4 class="title">Register for Free Classes</h4>                            
                        </div>
                        <img class="down" src="../../assets/images/down.png" alt="Icon">
                        
                        <div class="register_form register_form_2 text-center">
                            <div class="register_form_title">
                                <h4 class="title">Join My Free Class</h4>
                            </div>
                            <div class="register_form_wrapper">
                                <form action="#">
                                    <div class="single_form">
                                        <input type="text" placeholder="Full Name">
                                    </div>
                                    <div class="single_form">
                                        <input type="text" placeholder="Your Email">
                                    </div>
                                    <div class="single_form">
                                        <input type="text" placeholder="Phone Number">
                                    </div>
                                    <div class="single_form">
                                        <textarea placeholder="Message"></textarea>
                                    </div>
                                    <div class="single_form">
                                        <button class="main-btn">Submit A Request</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="blog_area pt-120 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_title text-center pb-20">
                    <h3 class="main_title">Nos Actualités</h3>
                    <p>What do you think is better to receive after each lesson: a lovely looking badge or important skills you can immediately put into practice.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7">
                <div class="single_blog mt-30">
                    <div class="blog_image">
                        <img src="../../assets/images/blog-1.jpg" alt="blog">
                    </div>
                    <div class="blog_content">
                        <span class="date"><span>23</span> Sept</span>

                        <div class="blog_content_wrapper">
                            <ul class="blog_meta">
                                <li><a href="#">Arnold brisben</a></li>
                                <li><a href="#">19 Jun 2019</a></li>
                            </ul>
                            <h4 class="blog_title"><a href="#">Best learning practice for java programme</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7">
                <div class="single_blog mt-30">
                    <div class="blog_image">
                        <img src="../../assets/images/blog-2.jpg" alt="blog">
                    </div>
                    <div class="blog_content">
                        <span class="date"><span>23</span> Sept</span>

                        <div class="blog_content_wrapper">
                            <ul class="blog_meta">
                                <li><a href="#">Arnold brisben</a></li>
                                <li><a href="#">19 Jun 2019</a></li>
                            </ul>
                            <h4 class="blog_title"><a href="#">Best learning practice for java programme</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7">
                <div class="single_blog mt-30">
                    <div class="blog_image">
                        <img src="../../assets/images/blog-3.jpg" alt="blog">
                    </div>
                    <div class="blog_content">
                        <span class="date"><span>23</span> Sept</span>

                        <div class="blog_content_wrapper">
                            <ul class="blog_meta">
                                <li><a href="#">Arnold brisben</a></li>
                                <li><a href="#">19 Jun 2019</a></li>
                            </ul>
                            <h4 class="blog_title"><a href="#">Best learning practice for java programme</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

-->